$blue:#e67930;
$light-blue:#a8a13a;
$red:#ff0000;
$pink: #E65D6E;
$green: #30B08F;
$tiffany: #4AB7BD;
$yellow:#FEC171;
$panGreen: #30B08F;

//sidebar
$menuBg2:rgb(255, 210, 0);
$menuBg:rgb(152, 0, 0);
$subMenuBg:hsla(4, 84%, 51%, 0.596);
$menuHover:#fabb32d7;
$menuHoverAcc:hsla(229, 78%, 62%, 0.596);
$subMenuBgAcc:rgb(67, 110, 201);
